node_modules/
react-unit-testing/.dccache
react-unit-testing/package-lock.json
server/.dccache
mobile/.dccache
web/.dccache

Code Tests/dailyCodes/.dccache
Code Tests/.dccache

.dccache
React/03-hook-de-carrinho-de-compras/.env
React/learn-mobx/.env
