div.wrapper{
    margin: 16px 0 0 40px;
    padding-bottom: 16px;
    outline: 1px solid #333;
    max-width: 350px;
}

.progress-bar-wrapper {
    max-width: 350px;
    height: 20px;
    background-color: #777;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: rgb(32, 35, 136);
    transition: all 0.33s;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 140px;
    margin: 7px 14px;
}